.big-card {
    width: 90vw;
    height: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
}

.firstSection{
  width: 100%;
  height: 75%;
  background-color: rgb(244, 244, 244);
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;
}

.big-card-content{
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.big-card-content img{
  height: 100%;
}

.grayout{
  height: 100%;
  filter: (80%);
  padding: 10px;
}

.grayout * {
  color: black;
}

.bigBottom{
  height: 25%;
  width: 80%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bigBtmText{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.socialsBig{
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}